
    <li>@Html.ActionLink("Заказы", "Index", "Orders")</li>
    <li>@Html.ActionLink("Склад", "Index", "Storage")</li>
    <li>@Html.ActionLink("Поставщик", "Index", "Supplier")</li>
    <li>@Html.ActionLink("Материалы", "Index", "Material")</li>
